<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p>Consectetur incididunt tempor deserunt reprehenderit in. Eiusmod cillum reprehenderit amet aute aute Lorem dolore magna enim consequat enim labore tempor eiusmod. Officia tempor dolor esse cupidatat ipsum veniam excepteur non ex. Laborum ullamco ipsum elit id sit elit ad duis magna consequat. Reprehenderit eiusmod voluptate aliquip eu commodo tempor cillum ad ad aute id ea ad sint.</p>
    
     {{> footer}}
</body>
</html>